body {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	line-height: 35px;
	font-family: "YuMincho", monospace;
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
}
*::selection {
	background-color: #ffcc00;
}
a {
	text-decoration: none;
	color: #ff0f00;
}
.theme {
	color: #ff0f00 !important;
}
a:hover {
	text-decoration: underline;
}
header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ddd;
}
.headbox {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}
.resume-email {
	float: right;
	font-size: 15px;
}
.name {
	font-size: 26px;
	color: #272727;
	text-decoration: none;
}
.name:hover {
	text-decoration: underline;
}
.resume-email-900 {
	font-size: 15px;
	text-align: center;
	margin-top: 5px;
	display: none;
}
.name-900 {
	display: none;
}
.name-900:hover {
	text-decoration: underline;
}
section {
	width: 60%;
	min-height: 400px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.swag-picture {
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	border: 8px solid #1d75ab;
}
.swag-picture > img {
	width: 100%;
	border-radius: 100%;
}
.about-me {
	width: 100%;
	height: 100%;
	margin-top: 40px;
}
.about-me-heading {
	font-size: 30px;
	color: #000;
	font-weight: 400;
}
.introduction {
	color: #000;
	line-height: 28px;
	font-size: 15px;
	text-align: justify;
}
#trademark {
	color: #ff0f00;
}
.set,
.malarkey {
	font-size: 20px;
}
#trade-mark {
	font-size: 18px;
}
#bluehigh {
	color: #1d75ab;
	text-decoration: underline;
}
.gap10 {
	width: 100%;
	height: 10px;
}
ul {
	list-style: none;
	padding: 0px !important;
}
ul > li {
	display: inline-block;
	width: 40px;
	height: 40px;
}
ul > li > a > img {
	width: 100%;
}
.gap100 {
	width: 100%;
	height: 100px;
}
.fill-text {
	width: 100%;
	height: 20px;
	margin-top: -15px;
	line-height: 20px;
	color: #000;
}
.fixing {
	margin-top: 10px;
}
.card-container {
	width: 100%;
	display: flex;
	padding-bottom: 50px;
}
.box {
	min-width: 270px;
	min-height: 320px;
	max-width: 270px;
	max-height: 320px;
	margin-top: 40px;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #aaa;
}
.project-box {
	min-width: 270px;
	min-height: 500px;
	max-width: 270px;
	max-height: 500px;
	margin-top: 40px;
	margin-right: 20px;
	padding: 5px;
	position: relative;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #aaa;
}
.wonder-links {
	color: #000;
	background-color: #eeeeee;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration: none !important;
}
.wonder-link-right {
	margin-left: 10px;
}
.button-box {
	position: absolute;
	width: calc(100% - 10px);
	bottom: 5px;
	padding-left: 10px;
}
.icon-image {
	width: 100%;
	height: 210px;
}
.icon-image > img {
	width: 100%;
	height: 100%;
}
.enhance {
	height: 200px !important;
	padding: 5px 0px;
	background-color: #eee;
}
.place {
	font-size: 14px;
	color: #888;
	line-height: 20px;
	padding-left: 15px;
	font-weight: bold;
}
.company {
	font-size: 18px;
	color: #262626;
	font-weight: bold;
	margin-top: 10px;
	padding-left: 15px;
}
.company-text {
	margin-top: 7px;
	font-size: 14px;
	line-height: 24px;
	padding-left: 15px;
	padding-right: 5px;
}
.projects-section {
	width: 80%;
}
.row {
	width: 100% !important;
}
.row-fixing {
	padding-bottom: 50px;
}
.company-text-projects {
	margin-top: 0px;
	font-size: 14px;
	line-height: 24px;
	padding-left: 15px;
}
.gap40 {
	width: 100%;
	height: 40px;
}
footer {
	border-top: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}
footer a {
	color: #272727;
}
.fixing-projects {
	padding-left: 10px;
}
@media screen and (max-width: 1110px) {
	.card-container {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 1000px) {
	header {
		height: 110px;
	}
	.resume-email {
		display: none;
	}
	.resume-email-900 {
		display: block;
	}
	.name {
		display: none;
	}
	.name-900 {
		font-size: 26px;
		text-decoration: none;
		display: block;
		text-align: center;
		margin: 0px;
	}
	.name-900 a {
		color: #272727;
	}
}
@media screen and (max-width: 600px) {
	.headbox {
		width: 90%;
	}
	section {
		width: 90%;
	}
	.name-900 {
		font-size: 22px;
	}
	.swag-picture {
		max-width: 250px;
		max-height: 250px;
	}
}
