doctype
html
	head
		title CSE Gantavya 2K15 | SRMCEM
		link(rel="stylesheet" type="text/css" href="style.css")
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Titillium+Web:300")
		link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
		script(type="text/javascript" src="jquery.min.js")
		script(type="text/javascript" src="script.js")

	body
		.nav
			.left
				span CSE SRMCEM
			.right
				ul
					li(style="border-bottom:2px solid #ffe4b5"): a(href="#") Home
					li: a(href="#pointer") About
					li: a(href="#pointer2") Event
					li: a(href="#") Registration
					li: a(href="#") Reach Us
		.events
			br
			br
			.heading#pointer2 Event Schedule
			br
			br
			br
			br
			br
			.eventssub
				.eventleft
					span#fade1(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade2(style="font-size:17px;padding:0px;display:none") 15th October
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 12:00 - 13:30
					br
					span#fade5(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade6(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright
					span.fade(style="float:left") Genius-G
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig1
					br
					.hrline#fade7(style="display:none")
					br
					br
					p#fade3(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade4(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub2
				.eventleft2
					span#fade11(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade12(style="font-size:17px;padding:0px;display:none") 15th October
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade15(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade16(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright2
					span.fade2(style="float:left") Chess Code
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig2
					br
					.hrline2#fade17(style="display:none")
					br
					br
					p#fade13(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade14(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub3
				.eventleft3
					span#fade21(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade22(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade25(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade26(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright3
					span.fade3(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig3
					br
					.hrline3#fade27(style="display:none")
					br
					br
					p#fade23(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade24(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub4
				.eventleft4
					span#fade31(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade32(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade35(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade36(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright4
					span.fade4(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig4
					br
					.hrline4#fade37(style="display:none")
					br
					br
					p#fade33(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade34(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub5
				.eventleft5
					span#fade41(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade42(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade45(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade46(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright5
					span.fade5(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig5
					br
					.hrline5#fade47(style="display:none")
					br
					br
					p#fade43(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade44(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub6
				.eventleft6
					span#fade51(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade52(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade55(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade56(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright6
					span.fade6(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig6
					br
					.hrline6#fade57(style="display:none")
					br
					br
					p#fade53(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade54(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub7
				.eventleft7
					span#fade61(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade62(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade65(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade66(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright7
					span.fade7(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig7
					br
					.hrline7#fade67(style="display:none")
					br
					br
					p#fade63(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade64(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub8
				.eventleft8
					span#fade71(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade72(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade75(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade76(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright8
					span.fade8(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig8
					br
					.hrline8#fade77(style="display:none")
					br
					br
					p#fade73(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade74(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub9
				.eventleft9
					span#fade81(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade82(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade85(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade86(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright9
					span.fade9(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig9
					br
					.hrline9#fade87(style="display:none")
					br
					br
					p#fade83(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade84(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub10
				.eventleft10
					span#fade91(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade92(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade95(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade96(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright10
					span.fade10(style="float:left") Web weaver 10
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig10
					br
					.hrline10#fade97(style="display:none")
					br
					br
					p#fade93(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade94(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub11
				.eventleft11
					span#fade101(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade102(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade105(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade106(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright11
					span.fade11(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig11
					br
					.hrline11#fade107(style="display:none")
					br
					br
					p#fade103(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade104(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub4
				.eventleft4
					span#fade31(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade32(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade35(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade36(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright4
					span.fade4(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig4
					br
					.hrline4#fade37(style="display:none")
					br
					br
					p#fade33(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade34(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub4
				.eventleft4
					span#fade31(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade32(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade35(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade36(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright4
					span.fade4(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig4
					br
					.hrline4#fade37(style="display:none")
					br
					br
					p#fade33(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade34(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub4
				.eventleft4
					span#fade31(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade32(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade35(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade36(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright4
					span.fade4(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig4
					br
					.hrline4#fade37(style="display:none")
					br
					br
					p#fade33(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade34(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			.waste
				.space
				.greybar
			.eventssub4
				.eventleft4
					span#fade31(style="display:none"): i(style="padding-top:10px").fa.fa-calendar-o.fa-lg
					span#fade32(style="font-size:17px;padding:0px;display:none") 27th September
					br
					span: i(style="padding-top:10px").fa.fa-clock-o.fa-lg
					span(style="font-size:17px;padding:0px") 9:45 - 13:30
					br
					span#fade35(style="display:none"): i(style="padding-top:10px").fa.fa-map-marker.fa-lg
					span#fade36(style="font-size:17px;padding:0px;display:none") Seminar Hall-A
				.eventright4
					span.fade4(style="float:left") Web weaver
					span(style="float:right;font-size:16px"): i(style="font-size:16px").fa.fa-chevron-down.fa-lg.tig4
					br
					.hrline4#fade37(style="display:none")
					br
					br
					p#fade33(style="display:none")
						|Unix/Linux are generally seen as the root of Open Source revolution. 
						|Hence, it is a mandatory knowledge for any one who is going to work 
						|with computers. Open Source is at the heart of Linux which allows so 
						|many programmers all around the globe to make it better by contributing 
						|in it. Linux is being used by people not only in computer field but in 
						|every field of engineering and even for day to day tasks by non-technical 
						|people as well.
					p#fade34(style="margin-top:0px;display:none") Organizer: Amar Prakash Pandey, Anmol Agarwal.
			br
			br
			br
			br
			br