{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}
<hr style="margin-top: 50px; margin-bottom: 30px;">
<p>
  Lastly, thank you for reading this post. For more awesome posts, you can explore my other articles <a href="{{ "blog" | relURL }}">here</a>, and follow me on Github — <a href="https://github.com/amarlearning">amarlearning</a>.
</p>
<p>
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle | lower }}</a>
  {{ end }}
</p>
{{ if (and (eq .Type "blog") (not .Params.noComments)) }}
<div style="margin-top: 50px;">
  <h2>Comments</h2>
  {{ partial "comments.html" . }}
</div>
{{ end }}
{{ end }}
{{ end }}
