{{ define "main" }}
<div class="divider-thin"></div>

<div class="intro">
    {{ .Content }}
</div>

<div class="divider-thick">
    <h2>Recent Posts</h2>
    {{ range first 2 (where .Site.RegularPages "Type" "blog") }}
    <article>
        <p class="post-item-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
        <time class="post-item-date"><i>{{ .Date.Format "January 2, 2006" }}</i></time>
        <p class="post-item-description">{{ .Description }}</p>
    </article>
    {{ end }}
</div>
{{ end }}