@keyframes wobble-vertical {
  10% {
    -webkit-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -moz-transform: translatex(10px);
		-o-transform: translatex(10px);
    transform: translatex(10px);
  }

  20% {
  	-moz-transform: translatex(-10px);
    -webkit-transform: translatex(-10px);
		-ms-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  30% {
  	-moz-transform: translatex(8px);
    -webkit-transform: translatex(8px);
		-ms-transform: translatex(8px);
    -o-transform: translatex(8px);
    transform: translatex(8px);
  }

  40% {
  	-moz-transform: translatex(-8px);
    -webkit-transform: translatex(-8px);
		-ms-transform: translatex(-8px);
    -o-transform: translatex(-8px);
    transform: translatex(-8px);
  }

  50% {
  	-moz-transform: translatex(6px);
    -webkit-transform: translatex(6px);
		-ms-transform: translatex(6px);
    -o-transform: translatex(6px);
    transform: translatex(6px);
  }

  60% {
  	-moz-transform: translatex(-6px);
    -webkit-transform: translatex(-6px);
		-ms-transform: translatex(-6px);
    -o-transform: translatex(-6px);
    transform: translatex(-6px);
  }
	70% {
		-moz-transform: translatex(4px);
		-webkit-transform: translatex(4px);
		-ms-transform: translatex(4px);
		-o-transform: translatex(4px);
		transform: translatex(4px);
	}
	80% {
		-moz-transform: translatex(-4px);
		-webkit-transform: translatex(-4px);
		-ms-transform: translatex(-4px);
		-o-transform: translatex(-4px);
		transform: translatex(-4px);
	}
	90% {
		-moz-transform: translatex(2px);
		-webkit-transform: translatex(2px);
		-ms-transform: translatex(2px);
		-o-transform: translatex(2px);
		transform: translatex(2px);
	}
	100% {
		-moz-transform: translatex(-2px);
		-webkit-transform: translatex(-2px);
		-ms-transform: translatex(-2px);
		-o-transform: translatex(-2px);
		transform: translatex(-2px);
	}
}
@keyframes wobble-horizontal {
  10% {
    -webkit-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -moz-transform: translatey(10px);
    transform: translatey(10px);
  }

  20% {
  	-moz-transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    transform: translatey(-10px);
  }

  30% {
  	-moz-transform: translatey(8px);
    -webkit-transform: translatey(8px);
    -ms-transform: translatey(8px);
    transform: translatey(8px);
  }

  40% {
  	-moz-transform: translatey(-8px);
    -webkit-transform: translatey(-8px);
    -ms-transform: translatey(-8px);
    transform: translatey(-8px);
  }

  50% {
  	-moz-transform: translatey(6px);
    -webkit-transform: translatey(6px);
    -ms-transform: translatey(6px);
    transform: translatey(6px);
  }

  60% {
  	-moz-transform: translatey(-6px);
    -webkit-transform: translatey(-6px);
    -ms-transform: translatey(-6px);
    transform: translatey(-6px);
  }
	70% {
		-moz-transform: translatey(4px);
		-webkit-transform: translatey(4px);
		-ms-transform: translatey(4px);
		transform: translatey(4px);
	}
	80% {
		-moz-transform: translatey(-4px);
		-webkit-transform: translatey(-4px);
		-ms-transform: translatey(-4px);
		transform: translatey(-4px);
	}
	90% {
		-moz-transform: translatey(2px);
		-webkit-transform: translatey(2px);
		-ms-transform: translatey(2px);
		transform: translatey(2px);
	}
	100% {
		-moz-transform: translatey(-2px);
		-webkit-transform: translatey(-2px);
		-ms-transform: translatey(-2px);
		transform: translatey(-2px);
	}
}
@-moz-keyframes wobble-vertical {
  10% {
    -webkit-transform: translatex(10px);
    -ms-transform: translatex(10px);
    -moz-transform: translatex(10px);
		-o-transform: translatex(10px);
    transform: translatex(10px);
  }

  20% {
  	-moz-transform: translatex(-10px);
    -webkit-transform: translatex(-10px);
		-ms-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }

  30% {
  	-moz-transform: translatex(8px);
    -webkit-transform: translatex(8px);
		-ms-transform: translatex(8px);
    -o-transform: translatex(8px);
    transform: translatex(8px);
  }

  40% {
  	-moz-transform: translatex(-8px);
    -webkit-transform: translatex(-8px);
		-ms-transform: translatex(-8px);
    -o-transform: translatex(-8px);
    transform: translatex(-8px);
  }

  50% {
  	-moz-transform: translatex(6px);
    -webkit-transform: translatex(6px);
		-ms-transform: translatex(6px);
    -o-transform: translatex(6px);
    transform: translatex(6px);
  }

  60% {
  	-moz-transform: translatex(-6px);
    -webkit-transform: translatex(-6px);
		-ms-transform: translatex(-6px);
    -o-transform: translatex(-6px);
    transform: translatex(-6px);
  }
	70% {
		-moz-transform: translatex(4px);
		-webkit-transform: translatex(4px);
		-ms-transform: translatex(4px);
		-o-transform: translatex(4px);
		transform: translatex(4px);
	}
	80% {
		-moz-transform: translatex(-4px);
		-webkit-transform: translatex(-4px);
		-ms-transform: translatex(-4px);
		-o-transform: translatex(-4px);
		transform: translatex(-4px);
	}
	90% {
		-moz-transform: translatex(2px);
		-webkit-transform: translatex(2px);
		-ms-transform: translatex(2px);
		-o-transform: translatex(2px);
		transform: translatex(2px);
	}
	100% {
		-moz-transform: translatex(-2px);
		-webkit-transform: translatex(-2px);
		-ms-transform: translatex(-2px);
		-o-transform: translatex(-2px);
		transform: translatex(-2px);
	}
}
@-moz-keyframes wobble-horizontal {
  10% {
    -webkit-transform: translatey(10px);
    -ms-transform: translatey(10px);
    -moz-transform: translatey(10px);
    transform: translatey(10px);
  }

  20% {
  	-moz-transform: translatey(-10px);
    -webkit-transform: translatey(-10px);
    -ms-transform: translatey(-10px);
    transform: translatey(-10px);
  }

  30% {
  	-moz-transform: translatey(8px);
    -webkit-transform: translatey(8px);
    -ms-transform: translatey(8px);
    transform: translatey(8px);
  }

  40% {
  	-moz-transform: translatey(-8px);
    -webkit-transform: translatey(-8px);
    -ms-transform: translatey(-8px);
    transform: translatey(-8px);
  }

  50% {
  	-moz-transform: translatey(6px);
    -webkit-transform: translatey(6px);
    -ms-transform: translatey(6px);
    transform: translatey(6px);
  }

  60% {
  	-moz-transform: translatey(-6px);
    -webkit-transform: translatey(-6px);
    -ms-transform: translatey(-6px);
    transform: translatey(-6px);
  }
	70% {
		-moz-transform: translatey(4px);
		-webkit-transform: translatey(4px);
		-ms-transform: translatey(4px);
		transform: translatey(4px);
	}
	80% {
		-moz-transform: translatey(-4px);
		-webkit-transform: translatey(-4px);
		-ms-transform: translatey(-4px);
		transform: translatey(-4px);
	}
	90% {
		-moz-transform: translatey(2px);
		-webkit-transform: translatey(2px);
		-ms-transform: translatey(2px);
		transform: translatey(2px);
	}
	100% {
		-moz-transform: translatey(-2px);
		-webkit-transform: translatey(-2px);
		-ms-transform: translatey(-2px);
		transform: translatey(-2px);
	}
}
@keyframes loader-pipe {
	0%
	{
		width:0%;
	}
	100%
	{
		width:100%;
	}
}
@keyframes rotater-rr {
	0%
	{
		transform: rotateZ(0deg);
	}
	100%
	{
		transform: rotateZ(360deg);
	}
}
