*
{
    box-sizing: border-box;
}
body
{
  background-image: url(http://amarpandey.me/project/abhivyakti/extras/register.png);
  background-size:cover;
  background-repeat: no-repeat;
}
body::-webkit-scrollbar {
	width:10px;
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(1,1,1,0);
}
body::-webkit-scrollbar-thumb {
	background-color:#FFEA00;
	border-radius: 1px;
}
body::-moz-scrollbar {
	width:0.8em;
}
body::-moz-scrollbar-track {
	-moz-box-shadow: inset 0 0 6px rgba(1,1,1,0);
}
body::-moz-scrollbar-thumb {
	background-color:rgba(211, 47, 47, 1);
	outline:1px solid black;
}
.main-wrapper
{
  width:800px;
  height:1050px;
  margin-left: auto;
  margin-right: auto;
  background-color:rgba(255,255,255, 0.88);;
  margin-top: 50px;
  box-shadow: 2px 0px 20px #000;
}
.main-wrapper h1
{
  text-align: center;
  font-family: 'Lobster Two', cursive;
  padding-top: 30px;
  padding-bottom: 10px;
  color:rgba(211,47,47,1);
}
.gap-40
{
  width:100%;
  height:40px;
}
.gap-20
{
  width:100%;
  height:20px;
}
.gap-0
{
  width:100%;
  height:0px;
}
.gap-5
{
  width:100%;
  height:5px;
}
.box-coloum
{
  min-width:240px;
  width:80%;
  height:30px;
  text-align: left;
  font-size: 22px;
  font-family: 'Salsa';
  margin-left: 10px;
	color: #F57F17;
}
label
{
  cursor: pointer;
}
.box-input
{
  min-width:240px;
  width:80%;
  height:30px;
  text-align: left;
  padding: 4px;
  font-size: 13px;
  font-family: 'Salsa';
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
  border-radius: 3px;
  border:1px solid #ccc;
}
.box-submit
{
  min-width:240px;
  width:80%;
  height:40px;
  text-align: center;
  padding: 4px;
  font-size: 17px;
  background-color:#F57F17;
  font-family: 'Salsa';
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  border-radius: 3px;
  border:1px solid #ccc;
}
.form-content
{
  min-width: 250px;
  width:90%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}
.error
{
  width:63%;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(211, 47, 47, 1);
  text-align: center;
  padding-top: 10px;
  color:#fff;
  font-family: 'Lobster Two', cursive;
  border-radius: 10px;
}
.success
{
  width:63%;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightgreen;
  text-align: center;
  padding-top: 10px;
  color:#fff;
  font-family: 'Lobster Two', cursive;
  border-radius: 10px;
}
